node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
.vscode/
state.json
*.csv
test-results-*
report.csv
.DS_Store
scripts/.env
.env
/Allure-Reports
/allure-results
/allure-report